.App {
    text-align: center;
    width: 300px;
    padding: 20px;
  }
  
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    width: 30vmin;
    height: 30vmin;
    clear: both;
  }
  
  
  .App-logo-static {
    width: 30vmin;
    height: 30vmin;
    clear: both;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }